
@{
    ViewData["Title"] = "RegisterOrLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model RegisterViewModel

@section Styles{

    <link href="~/Theme/styles/course.css" rel="stylesheet" />
    <link href="~/Theme/styles/course_responsive.css" rel="stylesheet" />

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>

    <link href="~/css/login.css" rel="stylesheet" />
}

<!-- Home -->
<div class="home">
    <div class="breadcrumbs_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>Courses</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="courses">
    <div class="container">
        <div class="pen-title">
            <h1>Society of Modern Engineering & Science</h1>
        </div>
        <!-- Form Module-->
        <div class="module form-module">
            <div class="toggle">
                <i class="fa fa-times fa-pencil"></i>
            </div>
            <div class="form">
                <h2>Login to your account</h2>
                <form asp-controller="Account" asp-action="Login" method="post">
                    <input type="text" placeholder="Username" />
                    <input type="password" placeholder="Password" />
                    <button>Login</button>
                </form>
            </div>
            <div class="form">
                <h2>Create an account</h2>
                @Html.AntiForgeryToken()
                <form asp-controller="Account" asp-action="Register" method="post">
                    <input  asp-for="Email" placeholder="Email" />
                    <input  asp-for="Phone" placeholder="Phone" />
                    <input  asp-for="Password" placeholder="Password" />
                    <input  asp-for="ConfirmPassword" placeholder="Confirm Password" />
                    <button>Register</button>
                </form>
            </div>
            <div class="cta"><a class="toggle">Don't have an account? Create New</a></div>
        </div>
    </div>
</div>


@section Scripts{

    <script src="~/Theme/js/course.js"></script>
    <script src="~/js/login.js"></script>
}
