
@{
    ViewData["Title"] = "RegisterOrLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model LoginOrRegisterViewModel

@section Styles{

    <link href="~/Theme/styles/course.css" rel="stylesheet" />
    <link href="~/Theme/styles/course_responsive.css" rel="stylesheet" />

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>

    <link href="~/css/login.css" rel="stylesheet" />
}

<!-- Home -->
<div class="home">
    <div class="breadcrumbs_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li>User</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="courses">
    <div class="container">
        <div class="pen-title">
            <h1>Society of Modern Engineering & Science</h1>
        </div>
        <!-- Validation Summary-->
        <div asp-validation-summary="All" class="text-danger"></div>
        <!-- Form Module-->
        <div class="module form-module">
            <div class="toggle">
                <i class="fa fa-times fa-pencil"></i>
            </div>
            <div class="form">
                <h2>Login to your account</h2>
                @Html.AntiForgeryToken()
                <form asp-controller="Account" asp-action="Login" method="post">
                    <input type="email" asp-for="LoginViewModel.Email" placeholder="Username" />
                    <input type="password" asp-for="LoginViewModel.Password" placeholder="Password" />
                    <button>Login</button>
                </form>
            </div>
            <div class="form">
                <h2>Create an account</h2>
                @Html.AntiForgeryToken()
                <form asp-controller="Account" asp-action="Register" method="post">
                    <input type="email" asp-for="RegisterViewModel.Email" placeholder="Email" required />
                    <input type="text" asp-for="RegisterViewModel.Phone" placeholder="Phone" required />
                    <input type="password" asp-for="RegisterViewModel.Password" placeholder="Password" required />
                    <input type="password" asp-for="RegisterViewModel.ConfirmPassword" placeholder="Confirm Password" />
                    <select asp-for="RegisterViewModel.Role">
                        <option>Student</option>
                    </select>
                    <button>Register</button>
                </form>
            </div>
            <div class="cta"><a class="toggle">Don't have an account? Create New</a></div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Theme/js/course.js"></script>
    <script src="~/js/login.js"></script>
}
