@model ApplicationUser
@{
    ViewData["Title"] = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/Theme/plugins/colorbox/colorbox.min.css" rel="stylesheet" />
    <link href="~/Theme/styles/about.min.css" rel="stylesheet" />
    <link href="~/Theme/styles/about_responsive.min.css" rel="stylesheet" />
}

<!-- Home -->
<div class="home">
    <div class="breadcrumbs_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li>Profile</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row team_row">
        <div id="user-id" style="display:none;">@Model.Id</div>
        <!-- Team Item -->
        <div class="col-lg-3 col-md-6 team_col">
            <div class="team_item">
                <div class="team_image"><img src="~/Theme/images/team_1.jpg" alt=""></div>
                <div class="team_body">
                    <div class="team_title"><a class="edit" id="name" href="#">Jacke Masito</a></div>
                    <div class="team_subtitle"><i class="fa fa-graduation-cap" aria-hidden="true"></i> @ViewBag.Role</div>
                    <div class="social_list">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <form asp-controller="Account" asp-action="Logout" method="get">
                <button type="submit" class="counter_form_button">Log Out</button>
            </form>
            
        </div>

        <div class="col-lg-9 col-md-6 team_col">
            <div class="row" style="height: 46px; background: #14bdee; align-items: center !important">
                <div class="col-md-4" style="color: white;">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i> @Model.UserName
                </div>
                <div class="col-md-4" style="color: white; text-align: center">
                    <i class="fa fa-phone" aria-hidden="true"></i> @Model.PhoneNumber
                </div>
                <div class="col-md-4" style="color: white; text-align: right">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> Sangla Hill
                </div>
            </div>
            <br />
            <div class="row">
                <strong><i class="fa fa-map-signs" aria-hidden="true"></i> Street Address | </strong>
                Mohallah Faizabad Street No.2
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script src="~/Theme/plugins/colorbox/jquery.colorbox-min.js"></script>
    <script src="~/Theme/js/about.min.js"></script>

    <script src="~/lib/jquery-editable/jquery.jeditable.js"></script>

    <script>
        $(function () {
            $('.edit').editable('');
        })

        $(function () {
            var StudentId = $('#user-id').html()
            $.ajax({
                url: "/Account/GetStudent",
                type: "POST",
                data: {
                    Id: StudentId
                },
                complete: function (result) {
                    if (result != null) {
                        alert(result);

                    } else {
                        alert("Error! could not delte student");
                    }
                }

            });
        })
    </script>
}

