@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="login_button"><a asp-controller="Account" asp-action="UserProfile">@UserManager.GetUserName(User)</a></div>
}
else
{
    <div class="login_button"><a asp-controller="Account" asp-action="RegisterOrLogin">Register or Login</a></div>
}