
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/Theme/styles/main_styles.css" rel="stylesheet" />
    <link href="~/Theme/styles/responsive.css" rel="stylesheet" />

    <link href="~/Theme/styles/contact.min.css" rel="stylesheet" />
    <link href="~/Theme/styles/contact_responsive.min.css" rel="stylesheet" />

}

<!-- Home -->
<div class="home">
    <div class="breadcrumbs_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a asp-controller="Post" asp-action="Dashboard">Admin</a></li>
                            <li>Dashboard</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .cstm-btn {
        width: auto;
        padding: 10px;
        margin-right: 20px;
    }
</style>

<div class="container">
    <div class="row">
        <form asp-controller="Post" asp-action="CreateUpdatePost" method="get">
            <button type="submit" class="comment_button cstm-btn"><i class="fa fa-plus"></i> Create New Post</button>
        </form>
        <form asp-controller="Post" asp-action="ManagePostCategory" method="get">
            <button type="submit" class="comment_button cstm-btn"><i class="fa fa-list"></i> Manage Categories</button>
        </form>
    </div>
</div>

<!-- Features -->
<div class="features">
    <div class="container">
        <div class="row features_row">

            <!-- Features Item -->
            <div class="col-lg-3 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="~/Theme/images/icon_2.png" alt=""></div>
                    <h3 class="feature_title"><a asp-controller="Post" asp-action="BooksNotes">Book & Library</a></h3>
                    <div class="feature_text"><p>Manage books and Notes in your library</p></div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="~/Theme/images/icon_1.png" alt=""></div>
                    <h3 class="feature_title">The Experts</h3>
                    <div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="~/Theme/images/icon_3.png" alt=""></div>
                    <h3 class="feature_title">Best Courses</h3>
                    <div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col">
                <div class="feature text-center trans_400">
                    <div class="feature_icon"><img src="~/Theme/images/icon_4.png" alt=""></div>
                    <h3 class="feature_title">Award & Reward</h3>
                    <div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Theme/js/custom.js"></script>
    <script src="~/Theme/js/contact.min.js"></script>
}